<% div_for @character do %>
  <h1><%= link_to @character.name, "http://sc2ranks.com/charcode/#{@character.region}/#{@character.code}/#{@character.name}" %></h1>
  <%= portrait(@character) %>
  <ul>
    <li><%= @character.race %></li>
    <li><%= @character.points %> <%= @character.league %></li>
    <li><%= @character.division %>, Rank <%= @character.rank %></li>
    <li><%= @character.wins %>w <%= @character.losses %>l <%= number_to_percentage(@character.ratio * 100.0, :precision => 0) %></li>
  </ul>
  <p>Data grabbed from <%= link_to 'sc2ranks.com', 'http://sc2ranks.com' %></p>
<% end %>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="360" id="utv637441">
  <param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=5706222" />
  <param name="allowfullscreen" value="true"/>
  <param name="allowscriptaccess" value="always"/>
  <param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/>
  <embed flashvars="autoplay=false&amp;brand=embed&amp;cid=5706222"
         width="640" height="360" allowfullscreen="true" allowscriptaccess="always"
         id="utv637441" name="utv_n_388619" src="http://www.ustream.tv/flash/viewer.swf"
         type="application/x-shockwave-flash" />
</object>
